<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8" >
  <title > Dashboard</title>
  <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen">
</head>
<body>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading">

        </header>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="customDesign">
              <thead>
              <tr>
                <th scope="col">AccountNo</th>
                <th scope="col">CurrencyCode</th>
                <th scope="col">CurrencyName</th>
                <th scope="col">Total Value</th>
                <th scope="col">Positions</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="holding : ${holdings}">
                <td><span th:text="${holding.getAccountNo()}">  </span></td>
                <td><span th:text="${holding.getCurrency().getCode()}">  </span></td>
                <td><span th:text="${holding.getCurrency().getName()()}">  </span></td>
                <td><span th:text="${holding.getTotalValue()}">  </span></td>
                <a th:href="@{/positions/{holdingId}(holdingId=${holding.getId()})}" class="btn btn-primary">Add Cart<i></i></a> <!-- todo a href with two variables-->

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- ------------------------TABLE END----------------------------- -->


</body>
</html>

